@{
    ViewData["Title"] = "Google Map";
}

<h2>@ViewData["Title"] Real Time Notification</h2>

<p>Open this page in the new tab and then create the orders from Dashboard.</p>

<style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 500px;  /* The height is 400 pixels */
        width: 95%;  /* The width is the width of the web page */
        background-color: grey;
       }
</style>

<!--The div element for the map -->
<div id="map"></div>
